* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: #e5eff6;

  font-family: 'Karla', sans-serif;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 575px) {
  body, html {
    height: auto;
  }

  #root {
    height: auto;
    padding: 10px;
  }
}